In [1]:
import pandas as pd
from edgar import *
import yfinance as yf
import numpy as np
from bs4 import BeautifulSoup
import requests

### Scraping all of the necessairy data from wikipedia.

In [2]:
# The URL of the website I am looking for
web_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
#I want the see the response of the host website so I can use BeautifulSoup package
response = requests.get(web_url)
#Creating the soup object where I am giving to it the response
soup_ob = BeautifulSoup(response.content)
#I am collecting all the HTML table data on the wikipedia page 
#and have noticed that the first table is the one I want
data_table = soup_ob.find_all('table','wikitable')[0]
# var. all_value contains the rowvalues of the companies
all_value = data_table.find_all('tr')
SP500 = pd.DataFrame(columns = ['Symbol','Security','Sector','Sub-Sector','HQ Location','CIK'])
ix = 0
for row in all_value[1:]:
    values = row.find_all('td')
    Symbol = values[0].text
    Security = values[1].text
    Sector = values[2].text
    Sub_Sector = values[3].text
    HQ = values[4].text
    CIK = values[6].text
    SP500.loc[ix] = [Symbol,Security,Sector,Sub_Sector,HQ,CIK]
    ix +=1
SP500['Symbol'] = SP500['Symbol'].str.replace('\n','')

In [3]:
SP500.head()

,Symbol,Security,Sector,Sub-Sector,HQ Location,CIK
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",0000066740
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",0000091142
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",0000001800
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",0001551152
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",0001467373

### Setting my identity

In [4]:
set_identity('maseeh faizan maseehfaizan@gmail.com')

[10:03:40] INFO     Identity of the Edgar REST client set to [maseeh faizan maseehfaizan@gmail.com]     ]8;id=294328;file:///Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/edgar/core.py\core.py]8;;\:]8;id=189456;file:///Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/edgar/core.py#154\154]8;;\

In [5]:
company = Company('AAPL')

In [14]:
filings = company.get_filings(form = '10-K')
df = filings.to_pandas()

In [18]:
df.head()

,accession_number,filing_date,reportDate,acceptanceDateTime,act,form,fileNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription
0,0000320193-23-000106,2023-11-03,2023-09-30,2023-11-02T18:08:27.000Z,34,10-K,001-36743,,9569569,1,1,aapl-20230930.htm,10-K
1,0000320193-22-000108,2022-10-28,2022-09-24,2022-10-27T18:01:14.000Z,34,10-K,001-36743,,10332356,1,1,aapl-20220924.htm,10-K
2,0000320193-21-000105,2021-10-29,2021-09-25,2021-10-28T18:04:28.000Z,34,10-K,001-36743,,10502096,1,1,aapl-20210925.htm,10-K
3,0000320193-20-000096,2020-10-30,2020-09-26,2020-10-29T18:06:25.000Z,34,10-K,001-36743,,12502600,1,1,aapl-20200926.htm,10-K
4,0000320193-19-000119,2019-10-31,2019-09-28,2019-10-30T18:12:36.000Z,34,10-K,001-36743,,12861616,1,1,a10-k20199282019.htm,10-K