In [2]:
import pandas as pd
from edgar import *
import yfinance as yf
import numpy as np
from bs4 import BeautifulSoup
import requests

### Scraping all of the necessairy data from wikipedia.

In [3]:
# The URL of the website I am looking for
web_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
#I want the see the response of the host website so I can use BeautifulSoup package
response = requests.get(web_url)
#Creating the soup object where I am giving to it the response
soup_ob = BeautifulSoup(response.content)
#I am collecting all the HTML table data on the wikipedia page 
#and have noticed that the first table is the one I want
data_table = soup_ob.find_all('table','wikitable')[0]
# var. all_value contains the rowvalues of the companies
all_value = data_table.find_all('tr')
SP500 = pd.DataFrame(columns = ['Symbol','Security','Sector','Sub-Sector','HQ Location','CIK'])
ix = 0
for row in all_value[1:]:
    values = row.find_all('td')
    Symbol = values[0].text
    Security = values[1].text
    Sector = values[2].text
    Sub_Sector = values[3].text
    HQ = values[4].text
    CIK = values[6].text
    SP500.loc[ix] = [Symbol,Security,Sector,Sub_Sector,HQ,CIK]
    ix +=1
SP500['Symbol'] = SP500['Symbol'].str.replace('\n','')

In [4]:
SP500.head()

,Symbol,Security,Sector,Sub-Sector,HQ Location,CIK
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",0000066740
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",0000091142
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",0000001800
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",0001551152
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",0001467373

### Setting my identity

In [5]:
set_identity('maseeh faizan maseehfaizan@gmail.com')

[14:57:11] INFO     Identity of the Edgar REST client set to [maseeh faizan maseehfaizan@gmail.com]     ]8;id=198822;file:///Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/edgar/core.py\core.py]8;;\:]8;id=960436;file:///Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/edgar/core.py#154\154]8;;\

In [6]:
company = Company('AAPL')

In [7]:
filings = company.get_filings(form = '10-K')
df = filings.to_pandas()

In [8]:
company.financials.balance_sheet

                         Balance Sheet

                                                    2023-09-30
 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  ASSETS:
  CURRENT ASSETS:
    Cash and Cash Equivalents                   29,965,000,000
    Other Current Assets                        14,695,000,000
    Current Assets                             143,566,000,000

  NONCURRENT ASSETS:
    Marketable Securities                      100,544,000,000
    Property, Plant and Equipment               43,715,000,000
    Other Noncurrent Assets                     64,758,000,000
    Total Noncurrent Assets                    209,017,000,000

  Total Assets                                 352,583,000,000

  LIABILITIES AND STOCKHOLDERS' EQUITY:
  CURRENT LIABILITIES:
    Accounts Payable                            62,611,000,000
    Other Current Liabilities                   58,829,000,000
    Deferred Revenue                             8,061,000,000
    Commercial Paper                             5,985,000,000
    Term Debt                                    9,822,000,000
    Total Current Liabilities                  145,308,000,000

  NONCURRENT LIABILITIES:
    Non-current Long Term Debt                  95,281,000,000
    Other Noncurrent Liabilities                49,848,000,000
    Total Noncurrent Liabilities               145,129,000,000

  Total Liabilities                            290,437,000,000

  STOCKHOLDERS' EQUITY:
    Common Stock and paid-in Capital            73,812,000,000
    Retained Earnings                             -214,000,000
    Accumulated Other Comprehensive Income     -11,452,000,000
    Total Stockholders' Equity                  62,146,000,000

  Total Liabilities and Stockholders' Equity   352,583,000,000